.copyright {
    margin: 0 auto;
    text-align: center;
}

.social-links-top {
    padding-top: 0px;
}

.social-media-list {
     display: table;
     margin: 0 auto; 
}
.social-media-list li {
    float: left;
    margin: 0 5px; 
}
.social-media-list li:first-of-type {
    margin-left: 0; 
}
.social-media-list li:last-of-type {
     margin-right: 0; 
}
.social-media-list li a {
    display: block;
    padding-bottom: 0px;
    border: 0px solid #e8e8e8;
}
.social-media-list li:hover .svg-icon {
    fill: currentColor; 
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: black;
    padding: 2px 2px 2px 2px;
    vertical-align: text-bottom; 
}

.page-content {
    padding: 0 0;
}